<ion-view view-title=" Account: {{ decAES.acctnm }} ">
	<ion-content>

<ion-list>

 <ion-item  class="text text-wrap text-center">
           <span class="button button-dark"> {{ decAES.pswd }} </span> 
           <h4> </h4>
  <span class="item item-divider">Notes: </span>
      <div class="item item-text-wrap">
    {{decAES.xtra}} 
  </div>
 </ion-item>

<ion-item  class="list list-inset item item-divider" >
<div class="col col-80">
        <h4 class="button button-small button-stable">
          Update Account:: </h4> <br>
  <input
      ng-model="decAES.acctnm"
      type="text"  placeholder="Acct Nm"
    />    <input
      ng-model="decAES.pswd"
      type="text"  placeholder="New Pswd"
    /> 
        <h4 class="button button-small button-stable">
          Update Notes:: </h4> <br>
    <textarea  class="col col-80" ng-model="decAES.xtra" placeholder="Comments"></textarea>
          </div>
<div class=" item item-divider text-center">
     <button class="button button-small button-positive" ng-click="updAcct()">
        Save Changes  </button>
</div>
</div>
    </ion-item>

</ion-list>

  </ion-content>

</ion-view>
