<ion-view view-title="AES-256 CryptoJS main">
  <ion-content>

<!-- ion-list  ng-show="vm.loginOk" 
<pre> encAES:: {{ encAES  | json }} </pre>
 -->

<ion-list  ng-show="vm.inSession">
  <ion-item  class="text-center">   
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="vm.dAES" placeholder="Search for Account">
  </label>
  <h4>  </h4> 
  <h4> Accounts Found: {{ vm.accts.length }} </h4> 

</ion-item>
<ion-item  class="card list" ng-repeat="aa in vm.accts | filter:vm.dAES track by $index" ng-init="aaIdx = $index;">
<!-- li class="animate-repeat" ng-repeat="friend in friends | filter:q as results track by friend.name" -->

    <div class="row">    
      <div class="col col-33"> 
        	<a href="#/app/details">          
                <button class="button button-small button-balanced"
          ng-click="aaView(aaIdx)"
        > DECRYPT <br>  {{ aa.acctnm }} </button>
         </a>
          </div>
      <div class="col col-67"> 
        <span class="row fluid button button-small">
          Notes:<br> {{ aa.xtra }} </span> </div>
    </div>
      </ion-item>
  <ion-item  class="text-center">   
	<a href="#/app/details">          <button class="button button-small button-balanced"
    ng-click="addAcct()"
        > ADD Account </button> </a>
     </ion-item>
  <ion-item  class="text-center">   
 <label class="text-center button button-small button-stable">
    All Account details are encrypted.<br>
    The Account Names have been decrypted here<br>
    for View Only.<br>
    The database will always remain encrypted.
  </label>
  </ion-item>  
    </ion-list>

  </ion-content>

</ion-view>
